@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

//font variables
$font-header: 'Lato', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
$text-dark: #222;
$text-light: #eee;

//color pallette v1.0
$blue-light: #54a0ff;
$blue-dark: #2e86de;
$green-light: #1dd1a1;
$green-dark: #10ac84;
$mint-light: #00d2d3;
$mint-dark: #01a3a4;
$orange-light: #f39c12;
$orange-dark: #e67e22;
$red-light: #e74c3c;
$red-dark: #c0392b;
$purple-light: #686de0;
$purple-dark: #4834d4;
$grey-light: #95a5a6;
$grey-dark: #7f8c8d;
$black-light: #4b4b4b;
$black-dark: #3d3d3d;
$white-light: #fff;
$white-dark: #e2e2e2;

//typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
    color: $text-dark;
    margin: 0.4em 0;
}

h1 {
    font-size: calc(1rem + 1.5vw);
}

h2 {
    font-size: calc(0.9rem + 1.2vw);
}

h3 {
    font-size: calc(0.8rem + 1.0vw);
}

h4 {
    font-size: calc(0.7rem + 0.9vw);
}

h5 {
    font-size: calc(0.6rem + 0.8vw);
}

h6 {
    font-size: calc(0.5rem + 0.6vw);
}

p {
    font-family: $font-text;
    font-size: 16px;
}

.p-xs {
    font-size: 14px;
}

//input
.form-control {
    font-family: $font-text;
    font-size: calc(0.7rem + 0.6vw);
}

.navbar-container {
    img {
        max-height: 40px;
    }
}

.left-col-container {
    .toggle-ico {
        vertical-align: middle;
        max-width: 15px;
    }

    .contact-info-container {
            .button-right {
                display: block;
                text-align: right
            }

    }

    .shipping-methods-container {
        margin-top: 25px;
        p {
            font-size: 14px;
        }
    }
    .payment-btn-group {
        text-align: center;
        button {
            margin: 4px 2px;
            padding: 0.5rem 0.4rem;
            font-size: 14px;
        }
        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 1em 0;
          }
          
          .paypal {
            &-logo {
              font-family: Verdana, Tahoma;
              font-weight: bold;
              font-size: 26px;
          
              i:first-child {
                color: #253b80;
              }
          
              i:last-child {
                color: #179bd7;
              }
            }
            
            &-button {
              padding: 15px 15px;
              border: 1px solid #FF9933;
              border-radius: 5px;
              background-image: linear-gradient(#FFF0A8, #F9B421);
              margin: 0 auto;
              display: block;
              min-width: 138px;
              position: relative;
              
              &-title {
                font-size: 14px;
                color: #505050;
                vertical-align: baseline;
                text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
              }
              
              .paypal-logo {
                display: inline-block;
                text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
                font-size: 20px;
              }
            }
          }
          
    }
    //credit card input container
    .sc-bdVaJa {
        width: 100%;
    }
    //credit card input
    .sc-bwzfXH {
        border: 1px solid #ced4da;
    }
    .billing-container {
        .button-right {
            display: block;
            text-align: right;
            margin-bottom: 1em;
        }
    }

}

.right-col-container {
    background-color: #eee;
    .cart-details-container {
        h5, h6, p, a {
            font-size: 14px;
        }
        .media-body {
            position: relative;
            min-width: 60px;
            max-width: 100px;
            margin-right: 1em;
            margin-bottom: 1em;

        }
        .media-count {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $mint-light;
            color: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px 0px ;
        }
    }
    
    .inforeel-container {
        p {
            font-size: 0.9em;
        }
        .title-p{
            margin-bottom: 0;
        }
        .co-badge-container {
            max-width: 80px;
            padding: 0;
            img {
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
    
    .review-container {
        .star-rate {
            display: block;
            margin: -4px 0;
        }
        .fa-star {
            color: #FFC107;
            font-size: 0.8em;
        }
        .co-verified-buyer {
            span {
                font-size: 0.8em
            }
        }
    }
    .no-pr {
        padding-right: 0;
        padding-left: 0;
    }
    .avatar-container {
        padding: 0;
        margin-bottom: 1em;
        text-align: center;
        .avatar {
            max-width: 80px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px ;
        }
    }
    
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;

    p {
        margin-bottom: 0;
    }
}